body {
    font-size: 16px;
}

p {
    font-size: 16px;
}

button {
    padding: 0;
}

img {
    max-width: 100%;
}

td, th {
    padding: 4px;
}

.page {
    width: 100%;
    padding: 0 64px;
    height: 100vh;
}

.page-content {
    padding-bottom: 32px;
    max-width: 900px;
}

.guide-list {
    padding: 32px 64px;
}

.guide-list img, .guide-list .guide-item {
    width: 120px;
}

.guide-icon {
    border-radius: 5px;
}

.nav {
    padding: 18px 24px;
    width: 100%;
}

.nav .guide-title {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: 500;
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    line-height: 32px;
    padding: 8px 16px;
    font-size: 18px;
    width: 100%;
    color: #337ab7;
}


.nav-item a {
    text-decoration: none;
    width: 100%;
}

.popover-content .nav-item a {
    color: #337ab7;
}

.nav-item a > * {
    vertical-align: middle;
}

.nav-item .rc-checkbox-wrapper {
    line-height: 24px;
    color: #337ab7;
}

.nav-item a:hover {
    text-decoration: none;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.nav-item-subtext {
    font-size: 75%;
    color: #337ab7;
    line-height: 20px;
}

.nav-mobile-button {
    margin-top: 16px;
}

.alert-video {
    background-color: #F8F8F8;
    border-color: #999999;
    color: #666666;
    font-size: 14px;
}

.img-modal {
    position: relative;
}

.img-modal .rc-md-icon-button-wrapper {
   color: white;
   position: absolute;
   right: -30px;
   top: -30px;
   width: 30px;
}

.img-modal img {
    border: 1px solid #CCCCCC;
}

@media only screen
  and (min-device-width: 280px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .page {
        padding: 0 32px;
    }

    .page-content {
        padding-bottom: 32px;
        max-width: 500px;
    }

    .guide-list {
        padding: 32px 32px;
        font-size: 14px;
    }

    .guide-list img, .guide-list .guide-item {
        width: 90px;
    }
}

@media only screen
  and (min-device-width: 280px)
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-mobile-button {
        display: flex;
    }

    .nav-desktop {
        display: none;
    }
}

@media only screen and (min-device-width: 769px) {
    .nav-mobile-button {
        display: none;
    }

    .nav-desktop {
        display: flex;
    }
}
