{
    "short_name": "Wiki Guides",
    "name": "com.baritonehands.WikiGuides",
    "icons": [
        {
            "src":"{{base_url}}/assets/images/icon192.png",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src":"{{base_url}}/assets/images/icon512.png",
            "sizes": "512x512",
            "type": "image/png"
        }
    ],
    "screenshots" : [
        {
            "src": "{{base_url}}/assets/images/screenshot_wide.png",
            "sizes": "2438x1140",
            "type": "image/png",
            "form_factor": "wide",
            "label": "Wiki Guide"
        },
        {
            "src": "{{base_url}}/assets/images/screenshot_narrow.png",
            "sizes": "848x1104",
            "type": "image/png",
            "form_factor": "narrow",
            "label": "Mobile Wiki Guide"
        }
    ],
    "start_url": "{{base_url}}/",
    "scope": "{{base_url}}/",
    "background_color": "#BF1213",
    "theme_color": "#BF1213",
    "display": "standalone"
}