{
    "short_name": "Wiki Guides",
    "name": "io.github.baritonehands.WikiGuides",
    "icons": [
    ],
    "start_url": "{{base_url}}/",
    "scope": "{{base_url}}/",
    "background_color": "#008000",
    "theme_color": "#008000",
    "display": "standalone"
}